@{
    ViewData["Title"] = "Home Page";
}
<div class="col-md-6 offset-md-3">
    <div class="row">
        <form id="frm">
            <div>
                <br>
                <br>
                <input type="submit" name="btnP" class="btn btn-success" value="Cargar Usuarios" />
            </div>
        </form>
    </div>
</div>
@section Scripts 
{
<script>
           $(document).ready(function () {
               $("#frm").submit(function (e) {
                   e.preventDefault();

                   url = "@Url.Content("~/Home/TraerData")"
                   $.post(url, function (data) {
                                document.location.href = "@Url.Content("~/LeerPost/Index")";


                        })

               })


           })

</script> 



}
